*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: Earwig Factory;
    src: url('earwig\ factory\ rg.otf');
}



html{
  font-family: "Earwig Factory", cursive;
  font-size: 25px;
  background-image: url("flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

@media only screen and (max-width:768px){
  html{
    background-size: 350%;
  }
}

.container {
  margin: 10px;
  padding: 0;
  font-family: "Earwig Factory", cursive;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.header {
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    
}

.image-text{
  background-color: #000000;
}

hr{
  width: 90%;
}

.button {
    background-color: #000000; 
    border: none;
    color: #ff0000;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

.button:hover {
    background-color: #ffffff;
}

.aside {
    position: relative;
    left: 20%;
    width: 40%;
    color: #000000;
}

.footer {
  font-size: 40px;
}
