*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: Earwig Factory;
    src: url('earwig\ factory\ rg.otf');
}
html,
body {
  margin: 10px;
  padding: 0;
  font-family: "Earwig Factory", cursive;
  font-size: 25px;
  background-image: url("flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 350%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

header {
    background-color: #000000;
}

.button {
    background-color: #000000; 
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

.button:hover {
    background-color: #ffffff;
}

aside {
    width: 40%;
    margin-left: 1000px;
    color: #000000;
}

footer {
  font-size: 40px;
}